	<div class="footer">
		Do non commodo ut dolore sint ad proident aute laboris deserunt dolore ut pariatur do. Lorem ipsum sunt ullamco ullamco sint amet aliquip quis ad nostrud commodo. Lorem ipsum aliqua exercitation anim cupidatat officia ut proident in commodo laboris ut. Lorem ipsum nostrud in nisi id labore dolore sed ut in. Qui in adipisicing incididunt laborum amet ullamco tempor commodo ad in in nisi enim qui duis aliquip veniam. Lorem ipsum non cupidatat pariatur enim est non proident exercitation id dolor ullamco consequat nisi amet laboris ullamco.
	</div>
</body>
</html>