<% include ../partials/header.ejs %>

<div class="header header--home">
	<div class="header__title">Log In</div>
</div>


<div class="content">
	<form class="form" action="/login" method="POST">
		<div class="form__title">Log In</div>
		<div class="form__field">
			<div class="form__label"><strong>User Name</strong></div>
			<input class="form__text" type="text" name="username" placeholder="User Name">
			<div class="form__label"><strong>Password</strong></div>
			<input class="form__text" type="password" name="password" placeholder="Password">
		</div>

		<input class="btn btn--blue" type="submit">
	</form>
</div>

<% include ../partials/footer.ejs %>