<% include ../partials/header.ejs %>

<div class="header header--home">
	<div class="header__title">Create Post</div>
</div>


<div class="content">
	<form class="form" action="/blogs" method="POST">
		<div class="form__title">Create Post!</div>
		<div class="form__field">
			<div class="form__label"><strong>Title</strong></div>
			<input class="form__text" type="text" name="blog[title]" placeholder="Title">
		</div>
		<div class="form__field">
			<div class="form__label"><strong>Blog Content</strong></div>
			<textarea class="form__textarea" name="blog[content]" placeholder="Content"></textarea>
		</div>
		
		<input class="btn btn--blue" type="submit">
	</form>
</div>

<% include ../partials/footer.ejs %>